<% -include('../layout/_Header')%>
<style>
    ul li{
        list-style: none;
        padding: 10px 13px 10px 13px;
        font-size: 1.2rem;
    }
</style>

<section class="h-[100vh]  " id="nodejs">
    <div class="flex justify-center">
        <div class="w-[150px] shadow-lg h-[100px] bg-green-600 rounded-2xl text-white flex justify-center items-center">
            <span class="font-bold text-[2rem] ">NodeJs</span>
        </div>
    </div>
    <ul>
        <li >
            Node.js is an open-source, server-side runtime environment built on Chrome's V8 JavaScript engine.
             It allows you to execute JavaScript code on the server side.
        </li>
    </ul>
</section>


<% -include('../layout/_Footer')%>
